@{
   Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>AdminLTE 3 | Log in (v2)</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
   <link rel="stylesheet" href="/AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css">
   <link rel="stylesheet" href="/AdminLTE-3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
   <link rel="stylesheet" href="/AdminLTE-3.2.0/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
   <div class="login-box">

      <div class="card card-outline card-warning">
         <div class="card-header text-center">
            <a href="../../index2.html" class="h1"><b> Çukurova Kargo </b> Giriş Paneli  </a>
         </div>
         <div class="card-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <div class="input-group mb-3">
               <input id="name" value="emrah40" type="text" class="form-control" placeholder="Kullanıcı">
               <div class="input-group-append">
                  <div class="input-group-text">
                     <span class="fas fa-user"></span>
                  </div>
               </div>
            </div>
            <div class="input-group mb-3">
               <input id="password" value="Ea123123.*" type="password" class="form-control" placeholder="Şifre">
               <div class="input-group-append">
                  <div class="input-group-text">
                     <span class="fas fa-lock"></span>
                  </div>
               </div>
            </div>
            <div class="row">
            
               <div class="col-12 text-center">
                  <br />
                  <div id="spinner" style="display:none" class="spinner-border" role="status">
                     <span class="sr-only">Loading...</span>
                  </div>
                  <button id="btnLog" class="btn btn-warning btn-block"> Giriş Yap      <span class="fas fa-log-in"></span>  </button>
               </div>

            </div>


         </div>
      </div>
   </div>


   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script src="/AdminLTE-3.2.0/plugins/jquery/jquery.min.js"></script>
   <script src="/AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="/AdminLTE-3.2.0/dist/js/adminlte.min.js"></script>

   <script type="text/javascript">

      $("#btnLog").click(function () {
         $("#spinner").show();
         let p = {
            username: $("#name").val(),
            password: $("#password").val()
         };
         $.ajax({
            type: "POST",
            url: "/User/Index/",
            async: true,
            data: p,
            success: function (funk) {
               if (funk != true) {
                  swal("Kullanıcı Adı | Şifre Hatası", "", "warning");
                  $("#spinner").hide();
               }
               else {
                  window.location.href = "@Url.Action("Index", "Home")";
               }
            }
         });
      });

   </script>


</body>
</html>


