@using Kendo.Mvc.UI

<center>
   <h2>Personeller</h2>
   <br />
</center>


@(Html.Kendo().Grid<Shift_System.Application.Features.Employees.GetAllEmployeesDto>()
         .Name("gridEmployee")
         .Columns(columns =>
         {
            columns.Bound(p => p.EmployeeCode);
            columns.Bound(p => p.Name);
            columns.Bound(p => p.SurName);
            columns.Bound(p => p.UserName);
            columns.Bound(p => p.Mail);
            columns.Bound(p => p.Phone);
            columns.Bound(p => p.Address);
            columns.Bound(p => p.Title);
            columns.Bound(p => p.Activity);
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
         })
         .ToolBar(tools =>
         {
            tools.Create();
         })
         .Sortable()
         .Pageable()
         .Filterable()
         .DataSource(dataSource =>
            dataSource
         .WebApi()
         .Model(model =>
         {
            model.Id(p => p.Id);
         })
         .Events(events => events.Error("error_handler"))
         .Read(read => read.Action("GetEmployees", "Employee"))
         .Create(create => create.Action("Create", "Employee"))
         .Update(update => update.Action("Update", "Employee", new { id = "{0}" }))
         .Destroy(destroy => destroy.Action("Destroy", "Employee", new { id = "{0}" }))
         ))


@*<script src="https://unpkg.com/jszip/dist/jszip.min.js"></script>*@

<script>

   function error_handler(e) {
      var errors = $.parseJSON(e.xhr.responseText);

      if (errors) {
         kendo.alert("Errors:\n" + errors.join("\n"));
      }
   }
</script>