@    using Kendo.Mvc.UI


<center>
   <h2>Vardiyaya Takım Atama</h2>
   <br />
</center>


@(Html.Kendo().Grid<GetAllAssignsDto>()
         .Name("gridAssignments")
         .Columns(columns =>
         {
            @*columns.Bound(p => p.Id);*@
            columns.Bound(p => p.ShiftId);
            columns.Bound(p => p.TeamId);
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
         })
         .ToolBar(tools =>
         {
            tools.Create();
         })
         .Sortable()
         .Pageable()
         .Filterable()
         .DataSource(dataSource =>
            dataSource
         .WebApi()
         .Model(model =>
         {
            model.Id(p => p.Id);
         })
            .Events(events => events.Error("error_handler"))
         .Read(read => read.Action("GetAssignments", "Assignment"))
         .Create(create => create.Action("Create", "Assignment"))
         .Update(update => update.Action("Update", "Assignment", new { id = "{0}" }))
         .Destroy(destroy => destroy.Action("Delete", "Assignment", new { id = "{0}" }))
        ))


@*<script src="https://unpkg.com/jszip/dist/jszip.min.js"></script>*@

<script>


   function error_handler(e) {
      var errors = $.parseJSON(e.xhr.responseText);

      if (errors) {
         kendo.alert("Errors:\n" + errors.join("\n"));
      }
   }


</script>