@using Kendo.Mvc.UI

<center>
   <h2>Vardiyalar</h2>
   <br />
</center>


@(Html.Kendo().Grid<Shift_System.Application.Features.Shift.GetAllShiftsDto>()
         .Name("gridShifts")
         .Columns(columns =>
         {
            columns.Bound(p => p.Shift_Name);
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
         })
         .ToolBar(tools =>
         {
            tools.Create();
         })
         .Sortable()
         .Pageable()
         .Filterable()
         .DataSource(dataSource =>
            dataSource
         .WebApi()
         .Model(model =>
         {
            model.Id(p => p.Id);
         })
         .Events(events => events.Error("error_handler"))
         .Read(read => read.Action("GetShifts", "Shift"))
         .Create(create => create.Action("Create", "Shift"))
         .Update(update => update.Action("Update", "Shift", new { id = "{0}" }))
         .Destroy(destroy => destroy.Action("Destroy", "Shift", new { id = "{0}" }))
         ))


@*<script src="https://unpkg.com/jszip/dist/jszip.min.js"></script>*@

<script>

   function error_handler(e) {
      var errors = $.parseJSON(e.xhr.responseText);

      if (errors) {
         kendo.alert("Errors:\n" + errors.join("\n"));
      }
   }
</script>