@model List<Shift_System.Domain.Entities.Models.TeamResponse>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <p>@item.PersonelKodu</p>
    }
}
else
{
    <p>No data available.</p>
}
