@using Shift_System.Application.Features.Teams.Queries
@model List<GetAllTeamsDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button id="logoutbtn">çıkış yappppppp</button>

@foreach (var item in Model)
{

    <p>@item.TeamName</p>
}


@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            document.getElementById("logoutbtn").addEventListener("click", function () {
                 
                $.ajax({
                    type: "GET",
                    url: "/Auth/Logout", // assuming the Logout action is in the same controller as the button
                    // async: true,
                    success: function (data) {
                        if (data == true) {
                            window.location.href = "/Account/Login";
                        }

                    }
                });
            });


        });
    </script>
}