

<button class="btn btn-primary" id="showSuccess">Başarılı İşlem</button>
<br />
<br />
<div id="responsedata"></div>


<div id="tablediv" class="table-responsive">
    <table class="table table-bordered">
    </table>
</div>

@section Scripts {
    <script src="~/js/deneme.js"></script>
}