<br />
<center>
  
    <div class="card">
        <h3>Ödeme Formu </h3>
        <div class="container col-lg-12" style="height: 500px">
            <iframe src="@ViewBag.PaymentUrl" frameBorder="0" style=" height:100%; width:100%; border: groove;"></iframe>
        </div>
    </div>
</center>
