@model Shift_System.Domain.Entities.AppRole


@{
   ViewData["Title"] = "AddRole";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yeni Rol Kaydı</h1>

<form method="post">
   <div class="form-group">
      <label>Rol İsmi</label>
      <input name="Name" class="form-control" />
      <br />
      @*<div asp-validation-summary="ModeOnly">

      </div>*@
      <button type="submit" class="btn btn-primary">Kaydet</button>
   </div>
</form>

