@model CreateUserViewModel

<h2>Yeni Kullanıcı Oluşturma Formu  <i class="fas fa-user-plus"></i>  </h2>
<hr />

<!-- Yeni Kullanıcı Ekleme Formu -->
<form asp-action="CreateUser" method="post">
    <div class="row">
        <!-- Kullanıcı Adı -->
        <div class="col-md-4 mb-3">
            <label for="Username" class="form-label">Kullanıcı Adı</label>
            <input type="text" name="Username" id="Username" class="form-control" placeholder="Kullanıcı Adı" required />
        </div>

        <!-- Ad Soyad -->
        <div class="col-md-4 mb-3">
            <label for="FullName" class="form-label">Ad Soyad</label>
            <input type="text" name="FullName" id="FullName" class="form-control" placeholder="Ad Soyad" required />
        </div>

        <!-- E-posta -->
        <div class="col-md-4 mb-3">
            <label for="Email" class="form-label">E-posta</label>
            <input type="email" name="Email" id="Email" class="form-control" placeholder="E-posta" required />
        </div>
    </div>

    <div class="row">
        <!-- Şifre -->
        <div class="col-md-4 mb-3">
            <label for="Password" class="form-label">Şifre</label>
            <input type="password" name="Password" id="Password" class="form-control" placeholder="Şifre" required />
        </div>

        <!-- Cep Telefonu -->
        <div class="col-md-4 mb-3">
            <label for="PhoneNumber" class="form-label">Cep Telefonu</label>
            <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control" placeholder="Cep Telefonu" required />
        </div>

        <!-- Rol Seçimi -->
        <div class="col-md-4 mb-3">
            <label for="RoleName" class="form-label">Rol Seçin</label>
            @if (Model.Roles != null && Model.Roles.Any())
            {
                <select name="RoleName" id="RoleName" class="form-control">
                    <option value="">Rol Seçin</option>
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role.Name">@role.Name</option>
                    }
                </select>
            }
            else
            {
                <p class="text-danger">Hiç rol bulunamadı. Lütfen önce rol ekleyin.</p>
            }
        </div>
    </div>

    <div class="row">
        <!-- Submit Butonu -->
        <div class="col-md-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Kullanıcı Oluştur <i class="fas fa-user-plus"></i></button>
        </div>
    </div>
</form>



@if (TempData["Message"] != null)
{
    <div class="alert alert-warning mt-3 col-lg-6">@TempData["Message"]</div>
}
